@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 43, 49, 51;
  --background-start-rgb: 226, 215, 207;
  --background-end-rgb: 216, 188, 160;

  --size: clamp(1.4rem, 0.14rem + 5.6vmin, 4.2rem);
  --gap: calc(var(--size) / 0.7);
  --duration: 40s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.dark {
  --foreground-rgb: 216, 188, 160;
  --background-start-rgb: 8, 76, 97;
  --background-end-rgb: 43, 49, 51;

  .menuItem a,
  .btn {
    &::after {
      background-color: #063742;
    }
  }
}

html {
  background: url("/bg4.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgba(var(--background-end-rgb), 0.9)
    )
    rgba(var(--background-start-rgb), 0.9);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @apply font-serif text-vrblue/70 dark:text-vryellow/70;
}

h1,
.h1 {
  @apply mb-4 text-5xl md:text-6xl font-bold text-balance leading-[3.8rem]  md:leading-[4.5rem];
}

h2,
.h2 {
  @apply text-4xl font-light leading-loose mb-6 text-balance;

  p {
    @apply leading-normal text-5xl md:text-7xl;
  }
}

h3,
.h3 {
  @apply mb-8;
}

strong {
  @apply font-bold;
}

.menuItem {
  a {
    @apply text-xs md:text-base font-bold;
    position: relative;
    display: block;
    transition: 0.5s;

    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ffb45e;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

#switchContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}

#switchLabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: #d8bca0;
  display: block;
  border-radius: 100px;
  position: relative;
}

#switchLabel:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

#switch:checked + #switchLabel {
  background-color: #063742;
}

#switch:checked + #switchLabel:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

#switchLabel:active:after {
  width: 22px;
}

.btn {
  position: relative;
  display: block;
  transition: 0.5s;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffb45e;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    z-index: -1;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.btn.btn-image {
  @apply relative;

  .project-label {
    @apply opacity-0 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-[0.5s] z-10 w-full;
  }

  &::after {
    opacity: 0.9;
    z-index: 1;
  }

  &:hover .project-label {
    opacity: 1;
  }
}

section {
  height: auto;
  padding: 8rem 0;
  width: 100%;
}

.container {
  max-width: 80rem /* 1280px */;
  display: flex;
  flex-direction: column;
  justify-items: between;
  padding: 1.5rem 2rem;
  margin: 0 auto;
}

#banner {
  @apply md:min-h-[60vh] pt-32 px-8 pb-20 md:pb-32;
}

#projects-grid {
  @apply grid grid-flow-row grid-cols-1 md:grid-cols-2 grid-rows-4 md:grid-rows-2 gap-x-0 md:gap-x-4 gap-y-4 md:gap-y-0 my-12;
}

.project-container {
  @apply px-2 flex flex-col relative mx-0 my-4 text-start;
}

.project-container .project-image {
  @apply w-full h-auto;
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100%;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );

  img {
    display: grid;
    place-items: center;
    width: var(--size);
    object-fit: cover;
  }
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

.tags {
  @apply flex flex-row gap-x-2 gap-y-1 flex-wrap;
}

.tag {
  @apply text-[10px] px-4 py-1 border rounded-full text-white/90 border-vrblue/25 dark:border-vryellow/25;
}

#timeline {
  @apply flex flex-col md:flex-row md:gap-x-10 text-base ms-8 md:ms-0 mt-20 md:mt-24 border-s-2 md:border-s-0 md:border-t-2 border-vrblue dark:border-vryellow;

  li {
    @apply ps-10 md:ps-0 md:pt-10 mb-12 md:mb-20 w-4/5 md:w-1/5 relative;

    &::after {
      @apply content-[''] block absolute -top-[0px] md:-top-[11px] -left-[11px] w-5 h-5 rounded-[10px] bg-vrblue dark:bg-vryellow;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1.5rem 1rem;
  }

  .laptop {
    height: 148px;
    padding: 10px 47px 16.5px;
    width: 300px;
  }

  .marquee {
    gap: calc(var(--gap) / 2);
  }

  .marquee__group {
    gap: calc(var(--gap) / 2);
  }

  .tags {
    gap: 0.5rem;
  }

  .tag {
    @apply text-[8px] px-2 py-1;
  }
}

#about-me {
  @apply py-0 bg-no-repeat bg-center bg-cover bg-fixed;
  background-image: url("/bg5.png");
}

@media screen and (max-width: 768px) {
  #about-me {
    background-position: -960px 0px;
  }
}

.theme-loading {
  visibility: hidden;
}

#projects {
  @apply bg-white dark:bg-[#23292b];
}

.highlight {
  @apply px-3 bg-vrblue/5 dark:bg-vryellow/5 text-vrblue/100 dark:text-vryellow/100;
}

.subtitle {
  @apply font-light text-xl mb-4 leading-9;
}

.overlay {
  @apply pt-32 pb-16 md:pb-20 bg-vryellow/90 dark:bg-vrblue/90;
}

#skills {
  @apply flex flex-row justify-around gap-x-10 pt-10 md:pt-0 md:text-right;

  ul {
    @apply list-none flex flex-row flex-wrap gap-4 justify-start md:justify-end;

    li {
      @apply py-2 px-4 border text-base uppercase border-black/10 dark:border-white/10;
    }
  }
}

#modal {
  @apply items-center fixed w-screen h-screen top-0 left-0 z-10 text-center;

  .modal-overlay {
    @apply z-20 absolute w-full h-full top-0 left-0 bg-white/70 dark:bg-black/70;
  }

  .modal-content {
    @apply z-30 relative h-auto max-w-[380px] md:max-w-[700px] mx-auto p-10 bg-vryellow dark:bg-vrblue;
  }

  .close {
    @apply absolute h-10 w-10 rounded-full flex items-center justify-center -top-5 -right-5 text-lg cursor-pointer bg-vryellow dark:bg-vrblue;
  }
}
